<style>
    .hide {
        display: none !important;
    }

    .comment-form {
        display: block;
    }
</style>
{{>header home=true scraped=false}}


<h1>Hawai`i Lawmakers need to Hear Your Voice!</h1>

<button id="scrape">Get Lawmakers</button>
{{#each Lawmakers}}
<div>
    <h3>{{name}}</h3>
    {{!-- <a href="{{link}}">View Representative</a> --}}
    <p>{{phone}}</p>
    <button class="add-comment" data-id={{_id}}>Add a comment</button>
    {{#each comments}}
    <div data-cid={{_id}}>
        <p>{{body}}</p>
        <p>Author:{{author}}</p>
        <p>{{createdAt}}</p>
    </div>
    {{/each}}
    {{#unless comments}}
    <span id="comment-{{_id}}">NO comments! </span>
    {{/unless}}
    </div> <hr />
    {{/each}}
    {{#unless Lawmakers}}
    <h3>No Lawmakers to show yet!</h3>
    {{/unless}}

    <form class="comment-form show">
        <label>Your Comment:</label>
        <textarea id="body" name="body" required></textarea>
        <label>Your name:</label>
        <input id="author" type="text" name="author" placeholder="John Doe" required>
        <button class="new-comment" data-id={{_id}}>Submit</button>
    </form>

    <script>
        $("#scrape").on("click", function () {
            console.log("Scraping!");
            // go scrape site for lawmakers
            $.get("/scrape/lawmakers", function (response) {
                console.log(response)
            });
        });

        $(".add-comment").on("click", function () {
            var id = $(this).data("id"); // rep id
            console.log($(this).data("id"));

            // add the represtative's id to the form
            $("#comment-"+id).html($(".comment-form").html());
            $(".comment-form").removeClass("hide");
            $(".new-comment").attr('data-id', id);
        });

        $(document).on("click", ".new-comment", function (event) {

            event.preventDefault();
            var id = $(this).attr("data-id");

            console.log(id);

            var comment = {
                body: $("#body").val().trim(),
                author: $("#author").val().trim()
            }

            $("#body, #author").val("");
            $(".new-comment").attr("data-id", "");
            $(".comment-form").addClass("hide")
            $.post("/comment/lawmakers/" + id, comment, function (response) {
                console.log(response);
                location.reload();
            })
            //console.log(comment)
        })

    </script>